.groups-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Chia lưới thành 7 cột */
  gap: 10px; /* Khoảng cách giữa các nhóm */
}

.group-card {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.group-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.group-card button:hover {
  background-color: #0056b3;
}

/* giao diện nhóm sinh viên đã đăng ký */
.group-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.group-info h3 {
  color: #333;
  margin-bottom: 10px;
}

.group-info ul {
  list-style-type: none;
  padding-left: 0;
}

.group-info ul li {
  margin-bottom: 5px;
}

.btn {
  margin-top: 20px;
}
