.otp-input {
  width: 40px !important;
  height: 40px !important;
  text-align: center;
  font-size: 1.2rem !important;
  margin: 0 5px;
  border: 1px solid #ced4da;
  border-radius: 4px !important;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.otp-input:focus {
  border-color: #007bff !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25) !important;
}
